@import "tailwindcss";

@import "./theme.css";

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--colors-neutral-900);
  font-family: var(--font-sans);
}

/* disabled focus styles for recharts */
.recharts-wrapper:focus,
.recharts-wrapper *:focus {
  outline: none;
}

.recharts-wrapper:focus-visible,
.recharts-wrapper *:focus-visible {
  outline: revert;
}
